<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hinge">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hinge">

        <activity android:name=".data.UserDetails.Feedback_Activity"></activity>
        <activity android:name=".data.UserDetails.Why_Activity" />
        <activity android:name=".data.UserDetails.Age_Activity" />
        <activity android:name=".data.UserDetails.Gender_Activity" />
        <activity android:name=".data.UserDetails.Name_Activity" />

        <activity android:name=".AccountActivity"></activity>
        <activity android:name=".ethnicity"></activity>

        <activity android:name=".Delete_Account_Screen" />
        <activity android:name=".Learn_more_Activity" />
        <activity android:name=".Matches_Activity" />
        <activity android:name=".Roses_activity" />
        <activity android:name=".Like_you_Activity" />
        <activity android:name=".DOB" />
        <activity android:name=".StandoutActivity" />
        <activity android:name=".DiscoverActivity" />
        <activity android:name=".Prefernce_Activity" />
        <activity android:name=".Boost" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".verified" />
        <activity android:name=".phone_num" />
        <activity android:name=".email_screen" />
        <activity android:name=".name_screen" />
        <activity android:name=".otp_screen" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>